{% extends "layout.html" %}

{% block head %}
{{super ()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block title %}
Index
{% endblock %}

{% block header %}
<div class="header">
    <h5>¿Necesita clientes y no sabes como? ¿No sabes como unirse al mundo digital? ¿No tienes tiempo suficiente para
        hacer
        tu pagina?</h5>
    <h1>¡Pida su pagina web ya!</h1>
    <a href="/Servicios"><button>Consulte Aquí</button></a>
</div>
{% endblock %}


{% block content %}

<div class="content-1">
    <img src="{{ url_for('static', filename='svg/People Talking Illustration.svg') }}" alt="Gente hablando"
        height="100%" class="img-genteCharlando">
    <div>
        <h3>¡Llegue a mas clientes publicitando sus productos o servicios en la WEB! </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quaerat, doloremque nemo tempore magnam nesciunt
            architecto nihil ex hic harum atque ratione incidunt nisi dolorem reiciendis quibusdam minima placeat
            veniam.</p>
    </div>
</div>


{% endblock %}